body{
    background: white;
}
article{
    background: #80FFDB
}
.special-header{
    color: hotpink;
}
#top{
    background: #18ffff;
}
a{
    color: #263238;
}
nav a{
    color: #424242;
}
.header{
    background: #E3F70D;
}
.main-heading{
    color: red 
}
